---
Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
SpacesBeforeTrailingComments: 1
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine : false
ColumnLimit: 100
---
